/* Import font family Roboto */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* GLOBAL RULES */

.wrapper {
  min-width: 1024px; /* vw permet de rendre le tout redimensionnable */
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

body {
  --orange: #f56b2a;
  --blue: #4183d7;
  --grey: #cad1d9;
}

.global {
  font: normal 1rem Roboto, Arial, sans-serif;
  color: #000000;
}

button {
  font-size: 1rem;
}

.link {
  text-decoration: none;
}

.orange-bg {
  background: var(--orange);
}

.blue-bg {
  background: var(--blue);
}

.red-font {
  color: red;
}

.small-font {
  font-style: normal;
  font-weight: bold;
  line-height: 1.2rem;
}

.big-font {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.75rem;
  text-align: center;
}

.box-shadow {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

hr {
  border: 1px solid var(--orange);
  width: 100%;
}

/* HEADER */

.menu {
  display: flex;
  padding: 0.3rem;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.menu-left {
  padding-left: 3rem;
  flex: 0.7;
}

.menu-left ul {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.3;
  cursor: pointer;
}

button {
  border-radius: 5px;
  line-height: 1.2rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  cursor: pointer;
  outline: none;
}

.button-title {
  padding: 0.2rem;
}

.svg-plus {
  padding: 0.2rem;
}

.search {
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--orange);
  width: 100%;
}

.search-title {
  line-height: 1.3rem;
  color: #000000;
  border: none;
  outline: none;
}

.connect-title {
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}

/* MODALE */

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  position: absolute;
  overflow: auto; /* Enable scroll if needed */
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closemodal {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

.modal input {
  width: 100%;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #d9e0eb;
}

.modal-content {
  background-color: #fefefe;
  padding: 1rem 3rem;
  width: 600px;
  height: 450px;
  margin: auto;
  border: 1px solid #888;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-button {
  width: 100%;
  height: 40px;
  background: var(--blue);
  color: white;
  font-style: normal;
  font-weight: bold;
  line-height: 19px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.reverse {
  color: var(--blue);
  background: white;
}

.separator {
  border: 1px solid #e4e8ec;
  width: 100%;
}

/* LOADER */

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* OFFERS */

.offers-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ellipse {
  width: 100%;
  height: 100px;
  background: var(--orange);
}

.searchbox {
  background-color: white;
  border-radius: 5px;
  width: 80vw;
  height: 20vh;
  margin-top: -4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.offers-search-input {
  background-color: #f4f6f7;
  display: flex;
  padding-left: 1rem;
  align-items: center;
  width: 50%;
  margin-right: 1rem;
}

.offers-search-input-inside {
  border: none;
  background-color: #f4f6f7;
  color: #8191a0;
  width: 90%;
  outline: none;
  padding: 0.5rem;
}

.offercard {
  display: flex;
  width: 1000px;
  height: 180px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
  text-decoration: none;
  /* overflow: hidden; */
  /* overflow:hidden indique de ne pas tenir compte de l'enfant qui n'a pas le border radius et donc qui dépasse du parent */
}

.offercard:hover {
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
}

.offercard-img-frame {
  display: flex;
  justify-content: center;
  flex: 0.2;
  background: var(--grey);
}

.offercard-img {
  object-fit: contain;
}

.offercard-infos {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 0.3rem;
  color: #000000;
  padding: 1rem;
  flex: 0.8;
}

.offercard-price {
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.4rem;
  color: var(--orange);
}

.offercard-date {
  line-height: 140%;
  color: black;
  margin-top: 4rem;
}

/* OFFER */

.offer-page {
  display: flex;
  justify-content: center;
}

.offer-card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 600px;
}

.img {
  object-fit: contain;
  position: center;
}

.img-frame {
  width: 700px;
  height: 400px;
  background-color: grey;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.offercard-title {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 1rem;
  line-height: 30px;
}

.offer-infos {
  padding: 2rem;
}

.offercard-desc {
  margin: 2rem 0rem;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 140%;
}

.offer-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 140%;
  color: #000000;
}

.offer-aside {
  width: 279px;
  height: 195px;
  margin: 2rem 0rem;
  margin-left: 1rem;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 140%;
  padding: 1rem;
}

/* PUBLISH */

.white-box {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 70%;
  height: 80vh;
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* SIGNUP */

.signup-container {
  display: flex;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 400px;
  width: 80%;
}

.signup-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  color: #000000;
  padding: 1rem;
}

.signup-right-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.password {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.check {
  padding: 0.5rem;
  padding-left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 154.9%;
  display: flex;
  text-align: justify;
}

.item {
  display: flex;
  padding-top: 1rem;
  justify-content: space-evenly;
  height: 100%;
}

.item-infos {
  padding-left: 1rem;
}

.item-title {
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
}

.item-content {
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  color: #000000;
}

.password {
  display: flex;
  justify-content: space-between;
}

.false {
  background-color: grey;
}

.text-erreur {
  font-size: 0.8rem;
  font-style: normal;
  color: red;
}

/* FOOTER */

footer {
  background: #474747;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 140%;
  color: white;
}

footer div {
  line-height: 80px;
  text-align: center;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DROP ZONE */

.dropzone div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
}

@media (max-width: 768px) {
  .wrapper {
    width: 90vw;
  }
  .header-logo {
    width: 7rem;
  }
  .global {
    font-size: 0.8rem;
  }
  button {
    font-size: 0.8rem;
  }

  .modal-button {
    font-size: 0.7rem;
  }
  .signup-side {
    font-size: 0.8rem;
  }
  .menu-left {
    padding-left: 1rem;
  }
  .white-box {
    padding: 1rem 2rem;
    width: 80%;
  }
}
